<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.vomniinteract.mapper.CommentLikeMapper">

    <!-- 批量插入评论点赞记录 -->
    <insert id="insertCommentLikeBatch" parameterType="java.util.List">
        INSERT IGNORE INTO u_comment_like (
        id,
        comment_id,
        user_id,
        create_time
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id},
            #{item.commentId},
            #{item.userId},
            #{item.createTime}
            )
        </foreach>
    </insert>

    <!-- 批量删除评论点赞记录 -->
    <delete id="deleteCommentLikeBatch" parameterType="java.util.List">
        DELETE FROM u_comment_like
        WHERE (user_id, comment_id) IN
        <foreach collection="list" item="item" open="(" separator="," close=")">
            (#{item.userId}, #{item.commentId})
        </foreach>
    </delete>

</mapper>